{{include '../control/banner'}}

<section class="service" data-aos-offset="0" data-aos="fade-up" data-aos-once="true" data-easing="ease" data-aos-duration="700" data-aos-delay="300">
    <div class="service__box" data-aos-offset="0" data-aos="fade-right" data-aos-once="true" data-easing="ease" data-aos-duration="900" data-aos-delay="400">
        <h2 class="service__title">围绕业务需求, 助力业务发展</h2>
        <ul class="service__list cf">
            <li class="service__service-box"><b class="service__service-icon c1"></b>
                <h4 class="service__service-title">三网融合、快速接入</h4>
                <p class="service__service-content">10分钟实现 "0成本" 业务上线, 接入移动、联通、电信物联网卡。</p>
            </li>
            <li class="service__service-box"><b class="service__service-icon c2"></b>
                <h4 class="service__service-title">自定义套餐</h4>
                <p class="service__service-content">不受运营商套餐限制, 可以定义任意期限、任意流量额度的套餐、流量包。</p>
            </li>
            <li class="service__service-box" ><b class="service__service-icon c3"></b>
                <h4 class="service__service-title">实名认证</h4>
                <p class="service__service-content">提供完整的实名认证过程, 从微信提交到认证审核以及卡状态的联控。</p>
            </li>
            <li class="service__service-box"><b class="service__service-icon c4"></b>
                <h4 class="service__service-title">充值续费</h4>
                <p class="service__service-content">提供微信、后台以及API接口3种充值方式, 自由选择套餐, 充值秒到。</p>
            </li>
            <li class="service__service-box" ><b class="service__service-icon c5"></b>
                <h4 class="service__service-title">微信服务号</h4>
                <p class="service__service-content"><span class="wrap">微信服务号提供充值续费、流量查询、到期查询、充值记录查询、</span>套餐信息查询、详单查询以及实名认证等功能。</p>
            </li>
            <li class="service__service-box" ><b class="service__service-icon c6"></b>
                <h4 class="service__service-title">资费优化</h4>
                <p class="service__service-content">通过自动化工具, 在十分钟内完成一次针对中国联通月付灵活共享套餐的资费优化配置。杜绝超额流量费, 可以节约10%的联通账单费用。</p>
            </li>
        </ul>
    </div>

</section>

<section class="fee">
    <div class="fee__box">
        <h2 class="fee__title">SIMBOSS物联网资费</h2>
        <div class="fee__list">
            <p class="fee__plan"><span class="fee__plan-name">累计在线卡量小于等于5000张</span><span class="fee__plan-price">免费</span></p>
            <p class="fee__plan"><span class="fee__plan-name">累计在线卡量5001-20000张</span><span class="fee__plan-price">1000元/月</span></p>
            <p class="fee__plan"><span class="fee__plan-name">累计在线卡量20001-50000张</span><span class="fee__plan-price">2000元/月</span></p>
            <p class="fee__plan"><span class="fee__plan-name">累计在线卡量50001-100000张</span><span class="fee__plan-price">3500元/月</span></p>
            <p class="fee__plan"><span class="fee__plan-name">累计在线卡量100001-200000张</span><span class="fee__plan-price">6000元/月</span></p>
            <p class="fee__plan"><span class="fee__plan-name">累计在线卡量200001-500000张</span><span class="fee__plan-price">10000元/月</span></p>
            <p class="fee__plan"><span class="fee__plan-name">累计在线卡量500001张及以上</span><span class="fee__plan-price">15000元/月</span></p>
        </div>
    </div>
</section>

<section class="feature">
    <h2 class="feature__title">平台功能展示</h2>
    <div class="feature__box">
        <div class="feature__row">
            {{each featureList}}
                <div class="feature__single t"  data-aos-once=true data-aos="flip-left" data-aos-duration="600" data-aos-delay="{{($index % 4) * 100}}">
                    <b class="feature__icon f{{$index + 1}}"></b>
                    <p class="feature__content" data-aos-offset="0" data-aos-once=true data-aos="fade-left" data-aos-duration="600" data-aos-delay="200">{{$value}}</p>
                </div>
            {{/each}}
        </div>
    </div>
</section>

<section class="customers">
    <h2 class="customers__title">客户案例</h2>
    <div id="owlCar" class="customers__carouse owl-carousel">

        {{each customerList}}
            <div class="customers__item {{$value.name}}">
                <div class="customers__comment-box"><div class="customers__customer-logo {{$value.name}}"></div>
                    <h5 class="customers__provide">{{$value.title}}</h5>
                    <p class="customers__comment">{{$value.comment}}</p>
                    <p class="customers__comment-from">—— {{$value.from}}</p>
                </div>
            </div>
        {{/each}}
    </div>
</section>
{{include '../control/bottom'}}
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="js/jq.js"></script>
<script src="js/main.js"></script>
{{include '../control/register'}}
<span id="page" data-page="index"></span>