/* layout start*/
.row { margin-left: auto; margin-right: auto; margin-bottom: 20px; *zoom: 1; }
.row:after { content: "\200B"; display: block; height: 0; clear: both; }
.row .col { float: left; box-sizing: border-box; padding: 0 0.75rem; display: inline-block }
.row .col[class*="push-"],
.row .col[class*="pull-"] { position: relative; }
.row .col.l0 { width: 0; margin-left: auto; left: auto; right: auto; }
.row .col.l0s { width: 3.3333333333%; margin-left: auto; left: auto; right: auto; }
.row .col.l1 { width: 8.3333333333%; margin-left: auto; left: auto; right: auto; }
.row .col.l1m { width: 12.4999999%; margin-left: auto; left: auto; right: auto; }
.row .col.l1l { width: 15%; margin-left: auto; left: auto; right: auto; }
.row .col.l2 { width: 16.6666666667%; margin-left: auto; left: auto; right: auto; }
.row .col.l2s { width: 17.5%; margin-left: auto; left: auto; right: auto; }
.row .col.l2h { width: 20.8333333333%; margin-left: auto; left: auto; right: auto; }
.row .col.l3 { width: 25%; margin-left: auto; left: auto; right: auto; }
.row .col.l4 { width: 33.3333333333%; margin-left: auto; left: auto; right: auto; }
.row .col.l4h { width: 38.333333333%; margin-left: auto; left: auto; right: auto; }
.row .col.l5 { width: 41.6666666667%; margin-left: auto; left: auto; right: auto; }
.row .col.l6 { width: 50%; margin-left: auto; left: auto; right: auto; }
.row .col.l7 { width: 58.3333333333%; margin-left: auto; left: auto; right: auto; }
.row .col.l7l { width: 64.6666666667%; margin-left: auto; left: auto; right: auto; }
.row .col.l8 { width: 66.6666666667%; margin-left: auto; left: auto; right: auto; }
.row .col.l8h { width: 73%; margin-left: auto; left: auto; right: auto; }
.row .col.l9 { width: 75%; margin-left: auto; left: auto; right: auto; }
.row .col.l10 { width: 83.3333333333%; margin-left: auto; left: auto; right: auto; }
.row .col.l11 { width: 91.6666666667%; margin-left: auto; left: auto; right: auto; }
.row .col.l12 { width: 100%; margin-left: auto; left: auto; right: auto; }
.row .col.offset-l1 { margin-left: 8.3333333333%; }
.row .col.pull-l1 { right: 8.3333333333%; }
.row .col.push-l1 { left: 8.3333333333%; }
.row .col.offset-l2 { margin-left: 16.6666666667%; }
.row .col.pull-l2 { right: 16.6666666667%; }
.row .col.push-l2 { left: 16.6666666667%; }
.row .col.offset-l3 { margin-left: 25%; }
.row .col.pull-l3 { right: 25%; }
.row .col.push-l3 { left: 25%; }
.row .col.offset-l4 { margin-left: 33.3333333333%; }
.row .col.pull-l4 { right: 33.3333333333%; }
.row .col.push-l4 { left: 33.3333333333%; }
.row .col.offset-l5 { margin-left: 41.6666666667%; }
.row .col.pull-l5 { right: 41.6666666667%; }
.row .col.push-l5 { left: 41.6666666667%; }
.row .col.offset-l6 { margin-left: 50%; }
.row .col.pull-l6 { right: 50%; }
.row .col.push-l6 { left: 50%; }
.row .col.offset-l7 { margin-left: 58.3333333333%; }
.row .col.pull-l7 { right: 58.3333333333%; }
.row .col.push-l7 { left: 58.3333333333%; }
.row .col.offset-l8 { margin-left: 66.6666666667%; }
.row .col.pull-l8 { right: 66.6666666667%; }
.row .col.push-l8 { left: 66.6666666667%; }
.row .col.offset-l9 { margin-left: 75%; }
.row .col.pull-l9 { right: 75%; }
.row .col.push-l9 { left: 75%; }
.row .col.offset-l10 { margin-left: 83.3333333333%; }
.row .col.pull-l10 { right: 83.3333333333%; }
.row .col.push-l10 { left: 83.3333333333%; }
.row .col.offset-l11 { margin-left: 91.6666666667%; }
.row .col.pull-l11 { right: 91.6666666667%; }
.row .col.push-l11 { left: 91.6666666667%; }
.row .col.offset-l12 { margin-left: 100%; }
.row .col.pull-l12 { right: 100%; }
.row .col.push-l12 { left: 100%; }
/* layout end*/