$breakpoints: (
        'm' : (max-width: 740px),
        'p' : (min-width: 741px),
);

@mixin res($name) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $name) {
        // Prints a media query based on the value
        @media #{inspect(map-get($breakpoints, $name))} {
            @content;
        }
    }

        // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
    }
}

$disgndraftwidth: 750;

@function r($n) {
    @return ($n / $disgndraftwidth) * 20 + rem;
}

@function ts($time) {
    @return $time +s cubic-bezier(0.4, 0, 0.2, 1);
}

@function ts2($time) {
    @return $time + s cubic-bezier(0.2, 1, 0.3, 1);
}

@function ty($number) {
    @return translateY($number)
}

@function tx($number) {
    @return translateX($number)
}

@mixin vm() {
    position: absolute;
    top: 50%;
    transform: ty(-50%);
}

